@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  background: #1a1a1b;  
  border-radius: 5px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.footer {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #f4f4f4;
  background-color: #000;
}
.logo{
  float:left;
  width: 45px;
  height: 45px;
  position: absolute;
  left : 0;
  margin-top: 4px;
  margin-left: 45px; 
  background-color: #393a3b;

}

.logo-right{
  float:right;
  width: 26px;
  height: 26px;
  position: absolute;
  right : 0;
  margin-top: 14px;
  margin-right: 100px; 
  background-color: #393a3b;

}

.logo-right1{
  float:right;
  width: 35px;
  height: 35px;
  position: absolute;
  right : 0;
  margin-top: 10px;
  margin-right: 55px; 
  background-color: #393a3b;

}

.logo-right2{
  float:right;
  width: 26px;
  height: 26px;
  position: absolute;
  right : 0;
  margin-top: 15px;
  margin-right: 19px; 
  background-color: #393a3b;
  

}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

header {
  background-color: #393a3b;
  position: fixed;
  left: 0;
  width: 100%; 
  height: 60px;
  border-radius: 5px;
}

nav ul{
  background-color: #393a3b;
  margin: 0 auto;
  padding: 0;
  list-style: none;

}

nav li{
  background-color: #393a3b;
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

nav a{
  color: rgb(226, 223, 223); 
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  background-color: #393a3b;
  text-transform: uppercase;
  
}

nav a:hover{
  color: #fff; 
}

#home {
  
  margin-left: 130px;
  position:absolute;
  left: 0;
}

#about {
  margin-left: 210px;
  position:absolute;
  left: 0;
}


#community {
  margin-left: 295px;
  position:absolute;
  left: 0;
}


#contact {
  margin-left: 425px;
  position:absolute;
  left: 0;
}

#login {
  margin-right: 270px;
  position:absolute;
  right: 0;
}


#signup {
 
  margin-right: 160px;
  position:absolute;
  right: 0;
}


#logoGamepad{
  color: green;
}

.container-1{
  width: 70%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 73px;
  border-radius: 5px;
  right: 0;
  opacity: 0.8;
}

.container-1 h1{
  background-color: rgba(0,0,0,0);
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 250px;   
}

.container-1 h5{
  background-color: rgba(0,0,0,0);
  font-family: Montserrat, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-top: 20px;
}


.fade-in-text {
  
  
  text-align: center;
  margin-top: 200px;
   animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.button {
  background-color: #406953;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  margin-top: 50px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15x;
}

.button:hover{
  background-color: #43a770; 
}


.form-wrap{ width: 320px; height: 450px; padding: 10px; box-sizing: border-box; position: fixed; background-color:#393a3b;
  left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 10px; border: 2px solid rgb(34, 34, 34);}

.form-wrap h1{text-align: center; color: rgb(247, 223, 223); font-size: 30px; margin-top: 120px; margin-bottom: 20px; font-family: 'Montserrat'; background-color: #393a3b}
.form-wrap h5{  text-align: center;  text-decoration: none; color: rgb(247, 223, 223); font-size: 14px; margin-top: 70px; margin-bottom: 30px; font-family: 'Montserrat'; background-color: #393a3b}
.form-wrap h5:link{color: green;  background-color: transparent;  text-decoration: none;}
.linkStyle{ color: inherit; text-decoration: inherit; background-color: rgba(0,0,0,0);}
.linkStyle:hover{color:rgb(190, 189, 189)}
.form-wrap input{width: 100%; outline: none; background: none; border: none; padding: 6px 20px; border-bottom: 1px solid #a1a3a5;
  box-sizing: border-box; margin-bottom: 15px; font-size: 16px; color: rgb(238, 228, 2228);font-family: 'Montserrat'; margin-top: 10px;}

.form-wrap input:focus,
select:focus,
textarea:focus,

button:focus {
    outline: none;
}  


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:rgb(190, 189, 189);
  opacity: 1; /* Firefox */
}

input[type=date]:invalid::-webkit-datetime-edit {
  color:rgb(190, 189, 189);
}

.loginButton {
  background-color: #406953;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15x;
}
.loginButton:hover{
  background-color: #43a770; 
}

.loginLogo{
  width: 100px; height: 100px;  
  position: absolute;
  margin-top: -160px;
  margin-left: 100px;
  background-color: rgba(0,0,0,0);
  opacity: 0.8;
  
}



.form-wrap-signup{ width: 400px; height: 500px; padding: 10px; box-sizing: border-box; position: fixed; background-color:#393a3b;
  left: 50%; top: 50%; transform: translate(-50%, -50%); border-radius: 10px;}

.form-wrap-signup h1{text-align: center; color: rgb(247, 223, 223); font-size: 30px; margin-top: 20px; margin-bottom: 30px; font-family: 'Montserrat'; background-color: #393a3b}

.form-wrap-signup input{width: 80%; margin-left: 50px; margin-right: auto; background: none; border: none; padding: 6px 20px; border-bottom: 1px solid #a1a3a5;
  box-sizing: border-box; margin-bottom: 15px; font-size: 16px; color: rgb(238, 228, 2228);font-family: 'Montserrat'; margin-top: 10px;}

.form-wrap-signup input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}  
 ::placeholder{
    color:rgb(190, 189, 189);
    opacity: 1; 
  }

 .signupButton {
    background-color: #406953;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
    margin-top: 20px;
    position: absolute; 
    left: 50%;
    top: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15x;
}
  
  .signupButton:hover{
    background-color: #43a770; 
  }
 
  .fa-home{
    color: #55c487;
    background-color: rgba(0,0,0,0);
    margin-left: 86px;
    
  }

  .fa-home:hover{
    color: #618a60;
    background-color: rgba(0,0,0,0);
    margin-left: 86px;
    animation: spin-animation 0.7s;
    animation-timing-function: linear;
    display: inline-block;
  }

  .fa-sign-in-alt{
    color: #bb7d42;
    background-color: rgba(0,0,0,0);
    
  }

  .fa-user{
    color: #bb7d42;
    background-color: rgba(0,0,0,0);
    
  }

  .fa-gamepad{
    color: #1f1f1f;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
  }
    


  .fa-gamepad:hover{
    color: #6b6b6b;
    
  }

  @keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fa-user-lock{

  color: #1f1f1f;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
}

.fa-user-shield{

  color: #39aa6c;
  background-color: rgba(0,0,0,0);
  margin-left: 65px;
}


.containerAdmin{
  width: 55%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 73px;
  right: 0;
  opacity: 0.8;
  
}



.content-table{

  background: #6fbb91;
  border-radius: 10px;
  border-collapse: collapse;
  font-size: 0.9em; 
  width : 100%;
  font-family: 'Montserrat';
  text-transform: uppercase;
  overflow: hidden;
}

.content-table thead tr{
  
  color: rgb(0, 0, 0); 
  text-align: left;
  font-weight: bold; 
  border: none;
}

.content-table thead th, td{
  background: #80cea9;
  padding: 13px 20px;
  border: none;
  border-radius: 0px;
  font-family: 'Montserrat';
  font-weight: bold;

}



.buttonAddAdmin{
background-color: rgba(0,0,0,0);
border: none;
color: white;
padding: 10px;
margin-top: 50px;
margin: 0;
position: absolute;
top: 4%;
left: 90%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
font-size: 15x;
}

.buttonAddAdmin:hover{
  color:#282e2b;
}


.fa-plus-circle{
  background-color: rgba(0,0,0,0);
  height:20px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  
  margin-left: 110px;
}


.actionButtons{
  background-color: rgba(197, 41, 41, 0);
  border: none;
  color: white;
  padding: 10px;
  margin-top: 50px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 15x;
  }

  .fa-plus-circle{
    background-color: rgba(0,0,0,0);
    height:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
    margin-left: 110px;
  }
  
  .fa-glasses{
    
    color: #f8d409;
    margin-left: 5px;
    background: none;
  }

  .fa-glasses:hover{color: #7a7242;}
  
  .fa-edit{

    color: #4ca05a;
    background-color: rgba(0,0,0,0);
    margin-left: 15px;
  }

  .fa-edit:hover{color: #09f831;}

  .fa-trash{

    color: #b14919;
    background-color: rgba(0,0,0,0);
    margin-left: 10px;
  }

  .fa-trash:hover{color: #ff0000;}

  .actionIcons{
    background-color: rgba(0,0,0,0);
    border: none;
  }